@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-hidden;
  }
}

:root {
  --fallback-title-bar-height: 40px;
}

.draggable {
  -webkit-app-region: drag;
}

.nonDraggable {
  -webkit-app-region: no-drag;
}

#titleBarContainer {
  position: fixed;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  cursor: pointer;
  z-index: 99;
  box-sizing: content-box;
}

#titleBar,
.titleBar {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  left: env(titlebar-area-x, 0);
  width: env(titlebar-area-width, 100%);
  text-align: center;
}

.titleBar-left {
  left: env(titlebar-area-x, 0);
}

.titleBar-top {
  top: env(titlebar-area-height, var(--fallback-title-bar-height));
}
.titleBar-width {
  width: env(titlebar-area-width, 100%);
}

#main {
  height: calc(
    100vh - env(titlebar-area-height, var(--fallback-title-bar-height))
  );
  margin-top: env(titlebar-area-height, var(--fallback-title-bar-height));
  overflow: auto;
}

.titleBar-ml {
  margin-left: env(titlebar-area-x, 0);
}
.titleBar-mr {
  margin-right: env(titlebar-area-x, 0);
}

.link {
  @apply transition-colors hover:text-foreground/80 text-foreground/60;
}
.link.active {
  @apply text-foreground;
}

/* 滚动条整体 */
.scrollbar::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded shadow-xl bg-secondary-foreground/50;
  /* border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353; */
}

/* 滚动条轨道 */
.scrollbar::-webkit-scrollbar-track {
  @apply rounded shadow-xl bg-secondary;
  /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed; */
}

.page {
  @apply p-1 md:p-2 lg:p-4;
}

h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}